
/* Imagen del carrito */
.imageCart{
  width: 10.5vw;
  height: 3.5vh;
  content: url("../icons/CartW.svg");
  aspect-ratio: auto;
}
/* Imagen del inicio de sesion  logo*/
.imageLogoSi{
  content: url("../icons/stars\ letras\ down.png");
  aspect-ratio: auto;
  width: 25%;
  height: 40%;
}
/* Imagen del menu */
.imgM{
  content: url("../icons/MenuW.svg");
  aspect-ratio: auto;
  width: 4.5vw;
  height: 2.5vh;
}

/*Imagen del artista*/
.imgArtist{
  max-width: 15vw;
  aspect-ratio: auto;
  border: 1px solid var(--white);
  border-radius: 50%;
}
.imgUser{
  content: url("../icons/userBlank.svg");
  max-width: 2.6vw;
  max-height: 3vw;
  aspect-ratio: auto;
}

.imgArtist:hover{
  transform: scale(1.1);
  aspect-ratio: auto;
}

/*Imagen del producto*/
.imgProduct{
  width: 12vw;
  border: 1px solid var(--base);
  aspect-ratio: auto;
}
.imgSign{
  content: url("../icons/stars\ alizado\ letras\ IN\ WHITE.png");
  max-width: 30vw;
  aspect-ratio: auto;
}
.imgF{
  content: url(../icons/stars_alizado_letras_IN_WHITE.png);
  aspect-ratio: auto;
  width: 15vw;
  height: 3vw;
}