
/* Imagen del carrito */
.imageCart{
  width: 10.5vw;
  height: 3.5vh;
  content: url("../icons/CartW.svg");
}
/* Imagen del inicio de sesion  logo*/
.imageLogoSi{
  content: url("../icons/stars\ letras\ down.png");
  width: 25%;
  height: 40%;
}
/* Imagen del menu */
.imgM{
  content: url("../icons/MenuW.svg");
  width: 4.5vw;
  height: 2.5vh;
}

/*Imagen del artista*/
.imgArtist{
  max-width: 15vw;
  aspect-ratio: auto;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.imgArtist:hover{
  transform: scale(1.1);
}

/*Imagen del producto*/
.imgProduct{
  width: 12vw;
  border: 1px solid var(--base);
}