@import url(fonts&col.css);
/* Extructura general */


/* Grid para la pagina del artista*/
.gridArtist {
  display: grid;
  grid-template:
    "head head head head" 56px
    "aside main main main" auto
    "aside main main main" auto
    "foot foot foot foot" 100px;
}

/* Grid del header */
.gridArtist > .gridH {
  grid-area: head;
}

/* Grid del aside */
.gridArtist > .gridA {
  width: 28vw;
  padding: 10px;
  word-break: break-all;
  grid-area: aside;
  
}


/* Grid del main */
.gridArtist > .gridM {
  width: 70vw;
  grid-area: main;
}
/* Grid del footer */
.gridArtist > .gridF {
  grid-area: foot;
}

/*Grids para las obras de la pagina del artista*/
.gridExpo{
  display: grid;
  grid-template:
    "pic pic pic pic obr" auto
    "pic pic pic pic cat" auto
    "pic pic pic pic desc" auto
    "pic pic pic pic go" auto;
    overflow: hidden;
}

/* Grid de la imagen */
.gridExpo > .gridP {
  max-width: 30vw;
  grid-area: pic;
}
/* Grid del nombre de la obra */
.gridExpo > .gridO {
  grid-area: obr;
  padding: 5px;
}

/* Grid para la categoria */
.gridExpo > .gridCat {
  grid-area: cat;
  padding: 5px;
}

/* Grid del nombre de la obra */
.gridExpo > .gridDesc {
  grid-area: desc;
  padding: 5px;
}

/* Grid del enlace a la obra */
.gridExpo > .gridGo {
  grid-area: go;
  padding: 5px;
}

/* Estructura de la página principal */
.gridMain {
  display: grid;
  gap: 5px;
  grid-template:
    "header header header header" 56px
    "main main main main" auto
    "footer footer footer footer" 100px;
}
.gridMain > .gridH {
  grid-area: header;
}
.gridMain > .gridM {
  grid-area: main;
}
.gridMain > .gridF {
  
  
  grid-area: footer;
}

/* Estructura de la página producto */
.gridProd {
  display: grid;
  grid-template:
    "header header header header" 56px
    "main main main main" auto
    "footer footer footer footer" 100px;
}

.gridProd > .gridH {
  grid-area: header;
}
.gridProd > .gridM {
  grid-area: main;
}
.gridProd > .gridF {
  grid-area: footer;
  background: tomato;
}

/* Estructura temporal de las demás paginas */
.gridS {
  display: grid;
  grid-template:
    "head head head head" 56px
    "main main main main" auto
    "foot foot foot foot" 100px/15vw auto auto auto;
}
.gridS > .gridH {
  grid-area: head;
 
}
.gridS > .gridM {
  grid-area: main;

}
.gridS > .gridF {
  grid-area: foot;
  background: violet;
}
.gridS > .gridA {
  grid-area: aside;
  background: turquoise;
}

/* Grid para el carrito */
.gridCart {
  display: grid;
  gap: 3px;
  grid-template:
    "head head head head" 56px
    "main main main aside" auto
    "foot foot foot foot" 100px/auto auto auto 250px;
}
.gridCart > .gridH {
  grid-area: head;
  background: yellow;
}
.gridCart > .gridM {
  grid-area: main;
}
.gridCart > .gridF {
  grid-area: foot;
  background: violet;
}
.gridCart > .gridA {
  grid-area: aside;
  
}

/* Grid para el inicio de sesion */
.gridForm {
  display: grid;
  gap: 3px;
  grid-template:
    ". .    .    .    ." 60px
    ". . form . ." auto
    ". . form . ." auto
    ". .    .    .    ." 100px/auto auto 80vw auto auto;
}
.gridForm > .gridF {
  grid-area: form;
  background: var(--fondo);
}

/* Grid para Registro */
.gridFormR {
  display: grid;
  gap: 3px;
  grid-template:
    ".    .    .   " 60px
    "form form form" auto
    "form form form" auto
    ".    .    ." 60px;
}
.gridFormR > .gridF {
  grid-area: form;
  background: yellow;
}

/* Grid para tajetas */
.grid__shop {
  display: grid;
  grid-template: 
      "image image image image image" 150px
      "image image image image image" auto
      "art art art art art" 30px
      "obName obName obName obName obName"30px
      "cat cat cat cat cat"30px
      "price price price price price"30px;
}

.grid__image {
  grid-area: image;
  margin: auto;
  vertical-align: top;
  
}

.grid__author {
  grid-area: art;

}

.grid__obName {
  grid-area: obName;

}

.grid__cat {
  grid-area: cat;

}

.grid__price {
  grid-area: price;

}
.grid__shop  p, h2, h3, h4{
  font-size: 1.4rem;
}

/* Grid del producto */
.gridSProd{
  display: grid;

  grid-template:
  "cat cat cat .    . "40px
  "img img img titl titl"60px
  "img img img desc desc"auto
  "img img img pri avaliable" 60px
  "img img img . dateM"
  "img img img btc  btc"40px
  "img img img .    ."auto
  "comtitl comtitl comtitl .   ."40px
  "inscom inscom inscom . ."60px
  "com com com com com"auto /19vw 19.5vw 18vw 21vw 21vw;
}

.gridSProd > .gridCat{
  grid-area: cat;
} 
.gridSProd >.gridImg {
  grid-area: img;
} 
.gridSProd > .gridTitl{
  grid-area: titl;
}
.gridSProd > .gridDesc{
  grid-area: desc;
} 
.gridSProd > .gridPrice{
  grid-area: pri;
}
.gridSProd > .gridAvalia{
  grid-area: avaliable;
}
.gridSProd > .gridBtc{
  grid-area: btc;
} 
.gridSProd > .gridComTitl{
  grid-area: comtitl;
}
.gridSProd > .gridInsCom{
  grid-area: inscom;
} 
.gridSProd > .gridCom{
  grid-area: com;
}
.gridSProd > .gridDate{
  grid-area: dateM;
} 

/* Barra de navegación principal*/
.navP {
  display: grid;
  grid-template: "menu logo search search login cart" 56px;
}
.navP > .menu {
  grid-area: menu;
}

.navP > .search {
  grid-area: search;
}

.navP > .login {
  grid-area: login;
  text-align: center;
}
.navP > .cart {
  grid-area: cart;
  text-align: center;
}

.navP > .logo {
  grid-area: logo;
}

/*Estilos del flex*/
/*Alineacion al centro*/
.flexC {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Alineaciona a la derecha*/
.flexR {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

/*Alinacion a la izquierda*/
/* Flex alineado a la izquierda */
.flexL {
  display: flex;
  justify-content: left;
  align-items: center;
}
/* Alinear contenido al centro del contenedor en la orilla */
.flexCLB {
  display: flex;
  align-items: center;
}
/* Inline flex para diversas cards o contendores */
.iFlex{
  display: inline-flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}
/* Alinear contenido al centro del contenedor en la orilla */
.flexCL {
  display: flex;
  align-items: center;
}
/* Diferentes separaciones del contenedor */
.padd5{
  padding: 5px;
}
.padd10{
  padding: 10px;
}
.padd15{
 padding: 15px;
}
.padd20{
  padding: 5px 0px 0px 20px;
}
.marg{
  margin-right: 5px;
}