/*Medias para la pagina principal*/
/*Telefonos*/
@media only screen and (max-width: 600px) {
  /* Modificacion al sidebar */
  .sidebar {
    width: 100%;
    padding: 1vw;
    text-align: center;
  }
  img.imageLogo {
    content: url("../icons/STARTS\ ONLY\ LOGO\ IN\ WHITE.png");
    width: 4.5vw;
  }
  
}
/*Tablets*/
@media only screen and (min-width: 601px) {
  img.imageLogo {
    content: url("../icons/STARTS\ ONLY\ LOGO\ IN\ WHITE.png");
    width: 4.5vw;
    transition: 0.3s ease all;
  }
  
}

/* Media de laptop */
@media only screen and (min-width: 992px) {
  /* Imagen del logo */
  img.imageLogo {
    content: url("../icons/stars\ alizado\ letras\ IN\ WHITE.png");
    width: 8.5vw;
  }
  
}

/* Media para monitores */
@media only screen and (min-width: 1200px) {
  img.imageLogo {
    content: url("../icons/stars\ alizado\ letras\ IN\ WHITE.png");
    width: 8.5vw;
  }
}


/*Medias para la pagina del artista*/
/*Telefonos*/
@media only screen and (max-width: 620px) {
   /*Grid acomodado para moviles*/
   .gridArtist {
    display: grid;
    gap: 1px;
    grid-template:
      "head" 56px
      "aside" auto
      "main" auto
      "foot" 100px;
  }
  /* Grid del aside */
.gridArtist > .gridA {
  width: 100%;
  grid-area: aside;
  
}

/* Grid del main */
.gridArtist > .gridM {
  width: 100%;
  grid-area: main;
}

.gridExpo{
  display: grid;
  grid-template:
    "pic pic" auto
    "obr cat" auto
    "desc desc" auto
    "go  go" auto;
    overflow: hidden;
}
.gridExpo > .gridDesc {
  grid-area: desc;
  padding: 5px;
  overflow-y:visible;
}
}
/*Tablets*/
@media only screen and (min-width: 601px) {
  /*Grid acomodado para moviles*/
  .gridArtist {
    display: grid;
    gap: 1px;
    grid-template:
      "head" 60px
      "aside" auto
      "main" auto
      "foot" 100px;
  }
    /* Grid del aside */
.gridArtist > .gridA {
  min-width: 100%;
  padding: 10px;
  overflow:visible;
  grid-area: aside;
}
.gridArtist > .gridM {
  min-width: 100%;
  padding: 10px;
  grid-area: main;
}


}

/* Media de laptop */
@media only screen and (min-width: 992px) {
  /*Grid dividido de manera normal*/
  .gridArtist {
    display: grid;
    gap: 5px;
    grid-template:
      "head head head head" 60px
      "aside main main main" auto
      "aside main main main" auto
      "aside foot foot foot" 100px;
  }
}

/* Media para monitores */
@media only screen and (min-width: 1200px) {
  
}


/*Medias para la pagina del producto*/
/*Telefonos*/
@media only screen and (max-width: 890px) {
  .gridSProd{
    display: grid;
    grid-template:
    "cat cat"40px
    "img img"auto
    "titl titl"60px
    "desc desc" auto
    "pri avaliable"40px
    "dateM ."
    "btc btc"40px
    "comtitl comtitl"
    "inscom inscom"60px
    "com com"auto;
  }
  .flexCLB {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*Tablets*/
@media only screen and (min-width: 601px) {
  
}

/* Media de laptop */
@media only screen and (min-width: 992px) {

}

/* Media para monitores */
@media only screen and (min-width: 1200px) {
 
}

