<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <title>Starts</title>
</head>

<body class="gridMain">
    <header class="gridH">
        <nav class="navP bcCom cComp">
            <div class="menu flexC">
                <button type="button" class="unset">
                    <img src="" type="image/svg+xml" class="imgM" alt="">
                </button>
            </div>

            <div class="logo flexC">
                <a href="/"><img class="imageLogo" alt=""></a>
            </div>
            <div class="search flexC">
                <input type="text" class="navB" placeholder="Pinturas de..." onkeypress="buscar">
                <button type="button" class="searchBtn" onclick="">
                    Buscar
                </button>
            </div>
            <div class="login flexC">
                
            </div>
            <div class="cart flexC">
                <a href="../static/pages/cart.html"><img src="" alt="" class="imageCart"></a>
            </div>
        </nav>
        <div class="sidebar bcCom">
            <h2 class="cWhite">Categorias</h2><br>
            <ul>
                <li><a href="../static/pages/search.html">Opción 1</a></li>
                <li><a href="../static/pages/search.html">Opción 2</a></li>
                <li><a href="../static/pages/search.html">Opción 3</a></li>
            </ul><br>
            <h2 class="cWhite">Modo oscuro</h2>
                <label class="switch">
                <input type="checkbox" id="dark__ModeToggle">
                <span class="slider round"></span>
                </label>
        </div>
    </header>
    <main class="gridM iFlex">
        <div class="card__Large  grid__shop ">
            <a href="../static/pages/product.html"><img class="grid__image img__card img__cardG" src="../static/images/Fondo de pantalla para computadora de noche.png" alt="" /></a>
            <h2 class = "grid__author txt__Ita"><a href="../static/pages/artist.html" class="txt__Title">Nombre del autor</a></h2>
            <h3 class="grid__obName "><a href="../static/pages/product.html">Nombre de la obra</a></h3>
            <h4 class="grid__cat txt__Normal"><a href="../static/pages/search.html">Categoría </a></h4>
            <p class="grid__price">$1,600 </p>
        </div>
    </main>
    <footer class="gridF">
        Footer no
    </footer>
    
    <script src="../static/scripts/script.js"></script>
</body>

</html>